@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Cubano", sans-serif; 
}
@font-face {
  font-family: 'Cubano';
  src: url('../src/assets/Cubano.ttf') format('truetype');
}

.gallery::-webkit-scrollbar {
  display: none;

}

.frame{
 animation: roll 180s linear infinite;

} 




@keyframes roll{
  from {
    transform: translate(100%);
  }
  to {
    transform: translate(-100%);
  }
}
:root {

  --font0family: 'Cubano', sans-serif;
  --font1family: 'Chewy', sans-serif;
  --primary-color: #155dfc;
}


.banner-veideo{
   
    width: "100%";
    height: "100vh";
   
   
}

* {
  box-sizing: border-box;
  overflow: hidden;
  
}
#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
  
.logo {
  position: fixed;
  width: 4em;
  height: 4em;
  transition: all 300ms;
  cursor: pointer;
  z-index: 10;
  padding: .7rem;

}
.menu {
  top:14vh;
  display: grid;
}
article {
  font-size: 1.3rem;
  line-height: 1.5;
  letter-spacing: 0.17rem;
  text-align: justify;
  font-family: "Chewy", sans-serif;
}
li {
  list-style: none;
  display: inline-flex;
  opacity: 0.75;
}
button{
  text-align: center;
  font-size: 2rem;
  border: none;
  background: transparent;
 
  font-family: "Cubano";
}
h1 {
  font-family: "Cubano", sans-serif;
  font-size: 4rem;
  margin-bottom: 0.2em;
  align-items: center;
}
h2 {
  font-family: "Cubano", sans-serif;
  font-size: 3rem;
  margin-bottom: 0.2em;
}

/* For screens up to 767px wide */
@media (max-width: 767px) {
  .logo {
  padding: .3rem; 
  width: 5em;
  height: 5em;

  transition: all 300ms;

  }

 h1{
  font-size: 2rem;
 }

.menu {
  top:.2vh;
  display: inline-flex;
  
}
button{
  font-size: .89rem;
  margin: .24rem;

}  
article {
  font-size: .9rem;
  line-height: 1.5;
  letter-spacing: 0.17rem;
  text-align: justify;
  font-family: "Chewy", sans-serif;
  
}
section{
  padding-top: 6rem;
}
  /* You might need to adjust other elements that rely on the logo's fixed position */
}

/* For screens between 768px and 1023px wide */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Add specific tablet adjustments here if needed */
}


